<extend name="Base/single"/>
<block name="header">
  <h1>Please confirm your request</h1>
  <!--<p>Identify and analyses editing sites in your sample.</p>-->
</block>
<block name="content">
  <div class="bs-docs-section">
  <p>In order to verify your identity, we sent a mail to your mail box({$mail}). After you pass the check, you job will be approved.</p>
  <p>Our notification emails may get filtered as spam. Make sure to check your mail-client's spam-box or spam-filter for our mails. We send out notification mails from no-reply@rnaeditplus.org, make sure that this address is allowed.</p>
  </div>
</block>
</extend>