<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>RNA Editing Plus</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="__PUBLIC__/css/docs.min.css">
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body>
<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a href="../" class="navbar-brand">RNA Editing Plus</a> </div>
    <nav id="bs-navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li> <a href="__APP__">Home</a> </li>
        <li> <a href="__APP__/Mining">Analyse</a> </li>
        <li> <a href="__APP__/Mining/Query">Job status</a> </li>
        <li> <a href="#">Citation</a> </li>
        <li> <a href="__APP__/Viewer/Index/datasets">Datasets</a> </li>
        <li> <a href="__PUBLIC__/demo/TUTORIAL.pdf">Tutorial</a> </li>
        <li> <a href="__APP__/Viewer/Index/about">About</a> </li>
      </ul>
    </nav>
  </div>
</header>
<div class="bs-docs-header" id="content" tabindex="-1">
      <div class="container">
	      <block name="header"></block>
      </div>
</div>
<div class="container bs-docs-container">
	<div class="row">
		<div class="col-md-9" role="main">
        	<block name="content"></block>
        </div>
        <div class="col-md-3" role="complementary">
        	<block name="sidebar"></block>
        </div>
	</div>
</div>
<include file="Base/foot"/>
</body>
<script src="__PUBLIC__/js/docs.min.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-92987784-1', 'auto');
  ga('send', 'pageview');

</script>
</html>
