<p>Sorry!
  </p>
<p>Your input file(s) is/are illegal, please check again! Job ID: {$vcode}</p>
<h4>Requirements for RNA-Seq Data:</h4>
<p>
    <ol>
        <li>The url must be a direct download link (no redirection, no authorization...);</li>
        <li>Seq files should be compressed by gzip;</li>
        <li>Each seq file should be less than 5 Gb.</li>
    </ol>
</p>
<h4>Required columns of the file containing the list of editing sites:</h4>
<p>
    <ol>
        <li>Column 1 (Region): The name of the chromosome or scaffold</li>
        <li>Column 2 (Position): The starting position of the SNV in the chromosome or scaffold <b>(1-based)</b></li>
        <li>Column 3 (Strand): Strand (+/1 or -/0)</li>
    </ol>
    This file should be less than 10 MB.
</p>
<p>If you need help please contact us at: <a href="mailto:support@rnaeditplus.org">support@rnaeditplus.org</a>.</p>
<p>Your RNA Editing Plus Team</p>
