<extend name="Base/show"/>
<block name="header">
  <h1>Editing on {$miRNA}</h1>
  <p>Check key: {$sig}</p>
</block>
<block name="sidebar">
  <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm">
    <ul class="nav bs-docs-sidenav">
      <li onClick="window.print();" style="cursor:pointer;">Save as PDF</li>
      <li><a class="back-to-top" href="#top">Back to Top</a></li>
    </ul>
  </nav>
</block>
<block name="content">
  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th>Gene symbol</th>
        <th>Score</th>
        <th>Energy</th>
        <th>Identity</th>
        <th>Similarity</th>
        <th>miRNA start</th>
        <th>miRNA end</th>
        <th>UTR start</th>
        <th>UTR end</th>
      </tr>
    </thead>
    <tbody>
    <volist name="rlist" id="hit">
      <tr>
        <th scope="row"><a href="http://www.ncbi.nlm.nih.gov/gene/?term={$hit.fastatag}" target="_blank">{$hit.gene_symbol}</a></th>
        <td>{$hit.score}</td>
        <td>{$hit.energy}</td>
        <td>{$hit.identity}</td>
        <td>{$hit.similarity}</td>
        <td>{$hit.mi_start}</td>
        <td>{$hit.mi_end}</td>
        <td>{$hit.utr_start}</td>
        <td>{$hit.utr_end}</td>
      </tr>
      <tr>
    	<td colspan="9">
        <div style="text-align:center;font-family: monospace;"> 
        	{$hit.mir_seq}<br />
  			{$hit.lines}<br />
		  	{$hit.utr_seq}
		</div>
        </td>
  	  </tr>
    </volist>
    </tbody>
  </table>
  {$page}
</block>
</extend>
