<extend name="Base/single"/>
<block name="header">
  <h1>Editing Hunter</h1>
  <p>Search results for {$_GET['rec']}.</p>
</block>
<block name="content">
  <div class="bs-docs-section">
    <h1 id="overview" class="page-header">Map</h1>
    <p>It may take you some time to load genomic information from Ensembl.</p>
    <div id="genoverse"></div>
  </div>
  <div class="bs-docs-section">
    <h1 id="search">Editing sites</h1>
    <!--<div style="text-align:justify;">!--> 
    <script>
		function showAll(){
			$("table tbody tr").show("fast");
			return 0;
		}
		function tableFilter(pattern){
			$("table tbody tr").hide("fast").filter(":contains('"+pattern+"')").show("fast"); 
			return 0;
		}
  	</script>
    <h3>Result</h3>
    <ul class="list-inline">
    	<li onClick="window.print();" style="cursor:pointer;"><i class="glyphicon glyphicon-book"></i>Save results as pdf</li>
    </ul>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Chromosome</th>
          <th>Position</th>
          <th>Seed region?</th>
          <th>New targets</th>
          <th>Old targets</th>
          <th>Common Targets</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        <volist name="rlist" id="hit">
          <tr>
            <td>{$hit.edit_pos_chr}</td>
            <td>{$hit.edit_pos_raw}</td>
            <td>{$hit.role|translator4Seed}</td>
            <td>{$hit.new_t}</td>
            <td>{$hit.old_t}</td>
            <td>{$hit.com_t}</td>
            <td><a href="__CONTROLLER__/pres/rec/{$hit.rec_id}"><i class="glyphicon glyphicon-share-alt"></i>About targets alternation</a></td>
          </tr>
        </volist>
      </tbody>
    </table>
    <!--    </div>--> 
  </div>
  <div class="modal fade" id="target-show" tabindex="-1" role="dialog" aria-labelledby="target-show">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="exampleModalLabel">miRNA Target Show</h4>
        </div>
        <div class="modal-body" id="pairShow"></div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="target-search" tabindex="-1" role="dialog" aria-labelledby="target-search">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="exampleModalLabel">miRNA Target Show</h4>
        </div>
        <div class="modal-body" id="pairResult"></div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
$("#mir-seq").html($("#mir-seq").text().replace("I", "<span style='color:red;font-weight:bold;'>I</span>"));
$('#target-show').on('show.bs.modal', function (event) {
	var button = $(event.relatedTarget) // Button that triggered the modal
	var rec = button.data('rec') // Extract info from data-* attributes
    var modal = $(this)
	$.get("__CONTROLLER__/pair/rec/"+rec, function(result){
		modal.find('.modal-body').html(result)
	});
});
$('#target-search').on('show.bs.modal', function (event) {
	var button = $(event.relatedTarget) // Button that triggered the modal
	var rec = button.data('rec') // Extract info from data-* attributes
    var modal = $(this)
	$.get("__CONTROLLER__/search/symbol/"+$("#gs").val()+"/type/"+$("#event").val()+"/sig/{$hit.sig}", function(result){
		modal.find('.modal-body').html(result)
	});
});   
</script> 
<script type="text/javascript" src="__PUBLIC__/genoverse/js/genoverse.combined.nojquery.js">
{
	container : '#genoverse',
	genome    : 'grch38', // see js/genomes/
	chr       : {$gi.chromosome},
	start     : {$gi.start},
	end       : {$gi.end},
	plugins   : [ 'controlPanel', 'karyotype', 'trackControls', 'resizer', 'focusRegion', 'fullscreen', 'tooltips' ],
	tracks    : [
	  Genoverse.Track.Scalebar,
	  Genoverse.Track.extend({
	    name       : 'Sequence',
	    controller : Genoverse.Track.Controller.Sequence,
	    model      : Genoverse.Track.Model.Sequence.Ensembl,
	    view       : Genoverse.Track.View.Sequence,
	    100000     : false,
	    resizable  : 'auto'
	  }),
	  Genoverse.Track.Gene,
    Genoverse.Track.repexp,
	  Genoverse.Track.rep,
	]
}
</script> 
</block>
</extend>
