<extend name="Base/single"/>
<block name="header">
  <h1>About</h1>
</block>
<block name="content">
<p>RNA editing is one of the most frequent post- or co-transcriptional modifications and hundreds of thousands of RNA editing sites are identified yearly. The usual type of RNA editing is the hydrolytic deamination of adenosine into inosine (A-to-I) catalyzed by the adenosine deaminase acting on RNA (ADAR) family of enzymes. A-to-I RNA editing sites in human have been reported to take place more common in introns and untranslated regions such as primate-specific inverted Alu repeats, certain microRNA precursors, mature microRNAs and some mRNA splicing signals. Since an 'I' will be recognized as a 'G' and mismatches with a 'C', which may result in the redirection of miRNA targeting, mRNA alternative splicing, protein mutation.</p>
<p>We developed this online platform, RNA Editing Plus, to annotate 'A-to-I' RNA editing sites in all the functional genes and predict their effects based on bioinformatic analysis. Detailed description of RNA Editing Plus see tutorial.</p>
</block>